# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/
dist/

# env
.env*.local
.env

# misc
.DS_Store
*.pem
.idea/
.vscode/
*.log
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
